<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.boranqichacha.mapper.FiOrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.example.boranqichacha.Entity.FiOrderInfo">
            <id property="order_Id" column="order_id" jdbcType="BIGINT"/>
            <result property="out_Trade_No" column="out_trade_no" jdbcType="VARCHAR"/>
            <result property="goods_Id" column="goods_id" jdbcType="BIGINT"/>
            <result property="business_Id" column="business_id" jdbcType="BIGINT"/>
            <result property="user_Id" column="user_id" jdbcType="BIGINT"/>
            <result property="order_Mobile" column="order_mobile" jdbcType="VARCHAR"/>
            <result property="order_Status" column="order_status" jdbcType="INTEGER"/>
            <result property="order_Schedule" column="order_schedule" jdbcType="INTEGER"/>
            <result property="pay_Status" column="pay_status" jdbcType="INTEGER"/>
            <result property="order_Type" column="order_type" jdbcType="INTEGER"/>
            <result property="order_Time" column="order_time" jdbcType="TIMESTAMP"/>
            <result property="pay_Time" column="pay_time" jdbcType="TIMESTAMP"/>
            <result property="total_Money" column="total_money" jdbcType="DECIMAL"/>
            <result property="order_Money" column="order_money" jdbcType="DECIMAL"/>
            <result property="coupon_Money" column="coupon_money" jdbcType="DECIMAL"/>
            <result property="pay_Channel" column="pay_channel" jdbcType="INTEGER"/>
            <result property="order_Remark" column="order_remark" jdbcType="VARCHAR"/>
            <result property="del_Flag" column="del_flag" jdbcType="CHAR"/>
            <result property="create_Time" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="update_Time" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        order_id,out_trade_no,goods_id,
        business_id,user_id,order_mobile,
        order_status,order_schedule,pay_status,
        order_type,order_time,pay_time,
        total_money,order_money,coupon_money,
        pay_channel,order_remark,del_flag,
        create_time,update_time
    </sql>
</mapper>
